.ad-setting-page {width:1000px; margin-bottom:20px;overflow-x:hidden;overflow-y:scroll;ltext-align:center;vertical-align:middle;}
.ad-setting-page .header {width:100%;height:60px;background:#ccc;margin-bottom:10px;}
.ad-setting-page .box {background:#ccc;min-height:60px; margin-bottom:10px;float:left;width:100%;}
.ad-setting-page .w220 {width:220px; margin-right:10px;float:left;}
.ad-setting-page .w440 {width:440px;float:left;}
.ad-setting-page .w670 {width:670px;float:left;}
.ad-setting-page .w310 {width:310px;float:right;}
.ad-setting-page .ad-banner {border:2px dashed red; background:#ccc;min-height:60px;margin-bottom:10px;}
.ad-setting-page .ad-left-1 {width:216px; height:95px; float:left; border:2px dashed red;}
.ad-setting-page .ad-center-1 {width:668px; height:70px; float:left; border:2px dashed red; margin-bottom:10px;}
.ad-setting-page #ad-2 {height:72px;}
.ad-setting-page .box-ad {width:306px; height:70px; float:left; border:2px dashed red; margin-bottom:10px;}

.item_user {cursor:pointer;}
.reason_filter {width:100%; }
.reason_filter span{float:left;line-height:20px;}
.reason_filter ul{float:left;display:block; margin:0;padding:0;}
.reason_filter ul li{list-style:none; float:left;text-align:center; padding:2px 5px;margin:0 5px;}
.reason_filter ul li.active a{background:#b94a48;color:#fff;padding:2px 5px;}
