body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

button {padding:5px 15px;border:0;cursor:pointer;background:#666; border-radius:5px;font-size:14px;color:#fff;}
button:hover {background:#999;}

.red {color:red;}
#content {min-height:400px;}
/*============ post ========*/
.post_box { font-size:13px;}
.post_box dl {margin-bottom:10px;width:100%;float:left;}
.post_box dl dt {width:80px;float:left;line-height:25px;}
.post_box dl dd {width:80px;float:left;margin-right:30px;margin-left:0;}

.input_text {width:200px;height:20px;}
.title_input, .keyword_input {width:400px;}
.post_content { width:700px;}

.option_box {border:1px dashed #FFC674;background:#FFFFE3;padding:10px; }
.option_box ul {margin:0;text-align:center;}
.option_box li {list-style:none; display:block;width:200px;float:left;}

.filter_box {border:1px dashed #ccc;margin:10px 0;padding:10px;background:#f2f2f2;}
.filter_box span {display:block;font-size:15px;font-weight:bold;float:left;line-height:25px;padding-right:10px;}
.filter_box dl {margin-bottom:0px;}
.filter_box dl dd,dt{max-width:400px;float:left;display:block; text-align:center;padding:0; margin-left:0;line-height:25px;}
.filter_box dd {margin-right:20px;}
.finter_box select {height:25px;}
.filter_box button {background:#35BFE9;}
/*======  user ========*/
.list {min-height:200px;}
.list dl {width:100%;margin-bottom:10px;float:left;line-height:30px;border-bottom:1px dashed #ccc;}
.list dl.hd {background:#f7f7f7;border-bottom:1px solid #ccc;}
.list dl dd {max-width:400px;float:left;min-width:80px;display:block; text-align:center;padding:0 10px; margin-left:0;}
.list dl.hd dd{border-right:1px solid #ccc;}
.list tr:hover, .list dl:hover {background:#f7f7f7;}
